<!DOCTYPE html>
<html>
  <head>
    <title>ダンマス / DnM 「Dungeon and Masters」</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
  <!--モーダルダイアログ-->
  <div class="modal" id="assets" tabindex="-1">
    <div class="modal-dialog infodialog" style="z-index: 1500">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <table style="display:inline-block;">
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--モーダルダイアログ-->
  <div class="modal" id="setparty" tabindex="-1">
    <div class="modal-dialog infodialog" style="z-index: 1500">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <table id='party-hero' style="display:inline-block;"></table>
        </div>
        <div class='modal-footer' style="text-align:left;">
          <table id='party-gear' style="display:inline-block;"></table>
        </div>
      </div>
    </div>
  </div>
  <!--モーダルダイアログ-->
  <div class="modal" id="setpartyslot" tabindex="-1">
    <div class="modal-dialog modal-lg infodialog" style="z-index: 1500">
      <div class="modal-content">
        <div class="modal-body">
          <table></table>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand active" href="../">Dungeon and Masters</a>
          <ul class="navbar-items"></ul>
        </div>
        <ul class="nav navbar-nav le-navbar-table">
          <li><a href="../">ホーム</a></li>
          <li><a href="helo">マップ</a></li>
          <li class="active"><a href="assets">アセット</a></li>
          <li><a href="trade">トレード</a></li>
        </ul>
      </div>
    </nav>
    <button class="btn" style="width:100px;" onclick="displayPage(party);">パーティ</button>
    <button class="btn" style="width:100px;" onclick="displayPage(heroes);">ユニット</button>
    <button class="btn" style="width:100px;" onclick="displayPage(gears);">装備</button>
    <div id="party" class="assets">
      <h1>パーティ編成</h1>
        
    </div>
    <div id="heroes" class="assets">
      <h1>所持ユニット</h1>
        
    </div>
    <div id="gears" class="assets">
         <h1>所持装備</h1>  
         
    </div>
    <script type="text/javascript">

    let userhero = JSON.parse( '<%-userhero%>' );
    let herodata = JSON.parse( '<%-herodata%>' );
    let usergear = JSON.parse( '<%-usergear%>' );
    let geardata = JSON.parse( '<%-geardata%>' );
    let stamina = JSON.parse( '<%-stamina%>' );
    let coin=JSON.parse( '<%-usercoin%>' );
    let lastdisplay = "#party"

    function displayPage(hash){
      $(lastdisplay).css("display", "none");
      $(hash).css("display", "block");
      lastdisplay = hash;
      //$(hash).fadeIn(2000, "linear"); // アニメーションをつけることも出来る
    }

    function herodetail(name,id){
      let atk = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285181745266718/iGuuD3Rajbc6oNowJaYZci3DENH6MYu8kayd3LaIWkMzEuz6akESTSRM0AAAAASUVORK5CYII.png'></th><th>"+Math.round(herodata[name].atk*(1+userhero[id].lv*0.05))+"</th>"
      let mag = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285236870742038/cXRynhVrd8EF6BNZGAt7cDNwhpkCYDGSygN0nNuG0CLgAVkDNIB769acsACsKqUbsEhDeRTAGvzvhbBzIFjANJybb8s9YGolvyPV.png'></th><th>"+Math.round(herodata[name].mag*(1+userhero[id].lv*0.05))+"</th>"
      let spd = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285386171318282/DNRwAAAABJRU5ErkJggg.png'></th><th>"+Math.round(herodata[name].spd*(1+userhero[id].lv*0.05))+"</th>"
      let hp = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557284772838375430/fX39f3q4p7GxEW4vnEEvy2EehDkC7AB6W47sCIIOaGhoYABhZIBLDD360PWhy4NCgaoOIMahyI4YOg7AljOI8S22qKJpCAy6NECo.png'></th><th>"+Math.round(herodata[name].hp*(1+userhero[id].lv*0.05))+"</th>"
      let def = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285285419941917/MZEEUTdCd7RAdT5zhgMgWzbdkkWOGGjRVrpVmW3P2MZrc7yn8AfNeSEaG4voUAAAAASUVORK5CYII.png'></th><th>"+Math.round(herodata[name].def*(1+userhero[id].lv*0.05))+"</th>"
      let mdef = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285351824162826/8AAAAAElFTkSuQmCC.png'></th><th>"+Math.round(herodata[name].mdef*(1+userhero[id].lv*0.05))+"</th>"
      $('#assets table').empty()
      $('#assets .modal-title').empty()
      $('#assets .ability').remove()
      $('#assets table').append("<tr><td style='border-radius:20px;' rowspan ='4'><img src='"+herodata[name].img+"'></tr>")
      $('#assets table').append("<tr>"+atk+hp+"</tr>")
      $('#assets table').append("<tr>"+mag+def+"</tr>")
      $('#assets table').append("<tr>"+spd+mdef+"</tr>")
      $('#assets .modal-title').append("<p style='margin:0px;'>Lv."+userhero[id].lv+" "+herodata[name].heroname+"</p>")
      $('#assets .modal-body').append("<span class='ability'>"+herodata[name].ability+"</span>")
      //if(userhero[id].party != 0){$('#modaldetail').append("<p>パーティ加入中</p>")}
      //$('#modaldetail').append("<button onclick='setparty("+id+",1); return false;' style='font-size:12px;'>パーティーの1番目に設定</button>")
      $('#assets').modal();
    }

    function setparty(id,party,type){
      console.log(id,party,type)
      if (type === 1){
        $.post('assets/party',{'name':userhero[id].heroname, 'heroid':userhero[id].heroid,'order':party})
      }else{
        $.post('assets/gear',{'name':usergear[id].gearname, 'gearid':usergear[id].gearid,'order':party})
      }
      location.href='assets'
    }

    function geardetail(name,id){
      let atk = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285181745266718/iGuuD3Rajbc6oNowJaYZci3DENH6MYu8kayd3LaIWkMzEuz6akESTSRM0AAAAASUVORK5CYII.png'></th><th>"+Math.round(geardata[name].atk*(1+usergear[id].lv*0.05))+"</th>"
      let mag = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285236870742038/cXRynhVrd8EF6BNZGAt7cDNwhpkCYDGSygN0nNuG0CLgAVkDNIB769acsACsKqUbsEhDeRTAGvzvhbBzIFjANJybb8s9YGolvyPV.png'></th><th>"+Math.round(geardata[name].mag*(1+usergear[id].lv*0.05))+"</th>"
      let spd = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285386171318282/DNRwAAAABJRU5ErkJggg.png'></th><th>"+Math.round(geardata[name].spd*(1+usergear[id].lv*0.05))+"</th>"
      let hp = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557284772838375430/fX39f3q4p7GxEW4vnEEvy2EehDkC7AB6W47sCIIOaGhoYABhZIBLDD360PWhy4NCgaoOIMahyI4YOg7AljOI8S22qKJpCAy6NECo.png'></th><th>"+Math.round(geardata[name].hp*(1+usergear[id].lv*0.05))+"</th>"
      let def = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285285419941917/MZEEUTdCd7RAdT5zhgMgWzbdkkWOGGjRVrpVmW3P2MZrc7yn8AfNeSEaG4voUAAAAASUVORK5CYII.png'></th><th>"+Math.round(geardata[name].def*(1+usergear[id].lv*0.05))+"</th>"
      let mdef = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285351824162826/8AAAAAElFTkSuQmCC.png'></th><th>"+Math.round(geardata[name].mdef*(1+usergear[id].lv*0.05))+"</th>"
      $('#assets table').empty()
      $('#assets .modal-title').empty()
      $('#assets .ability').remove()
      $('#assets table').append("<tr><td style='border-radius:20px;' rowspan ='4'><img src='"+geardata[name].img+"'></tr>")
      $('#assets table').append("<tr>"+atk+hp+"</tr>")
      $('#assets table').append("<tr>"+mag+def+"</tr>")
      $('#assets table').append("<tr>"+spd+mdef+"</tr>")
      $('#assets .modal-title').append("<p style='margin:0px;'>Lv."+usergear[id].lv+" "+geardata[name].gearname+"</p>")
      $('#assets .modal-body').append("<span class='ability'>"+geardata[name].ability+"</span>")
      $('#assets').modal();
      //$('#info').append("<button onclick='gsetparty("+id+",1); return false;' style='font-size:12px;'>パーティーの1番目に装備</button>")
    }

    function partydetail(name,id,party){
      if(name === -1 && id === -1){
        let atk = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285181745266718/iGuuD3Rajbc6oNowJaYZci3DENH6MYu8kayd3LaIWkMzEuz6akESTSRM0AAAAASUVORK5CYII.png'></th><th>0</th>"
        let mag = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285236870742038/cXRynhVrd8EF6BNZGAt7cDNwhpkCYDGSygN0nNuG0CLgAVkDNIB769acsACsKqUbsEhDeRTAGvzvhbBzIFjANJybb8s9YGolvyPV.png'></th><th>0</th>"
        let spd = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285386171318282/DNRwAAAABJRU5ErkJggg.png'></th><th>0</th>"
        let hp = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557284772838375430/fX39f3q4p7GxEW4vnEEvy2EehDkC7AB6W47sCIIOaGhoYABhZIBLDD360PWhy4NCgaoOIMahyI4YOg7AljOI8S22qKJpCAy6NECo.png'></th><th>0</th>"
        let def = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285285419941917/MZEEUTdCd7RAdT5zhgMgWzbdkkWOGGjRVrpVmW3P2MZrc7yn8AfNeSEaG4voUAAAAASUVORK5CYII.png'></th><th>0</th>"
        let mdef = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285351824162826/8AAAAAElFTkSuQmCC.png'></th><th>0</th>"
        $('#setparty #party-hero').empty()
        $('#setparty #party-gear').empty()
        $('#setparty .modal-title').empty()
        $('#setparty #change').remove()
        $('#setparty .ability').remove()
        $('#setparty #party-hero').append("<tr><td style='border-radius:20px;' rowspan ='4'><img src='https://cdn.discordapp.com/attachments/402211254627991552/558259243107614750/G0QQQa0AQa2fDSKIoFaAoNbPBhFEUCtAUOtngwgiqBUgqPWzQQQR1AoQ1PrZIIIIagUIav1sEEEEtQIEtX42iCCCWgGCWj8bRBBB.png'></tr>")
        $('#setparty #party-hero').append("<tr>"+atk+hp+"</tr>")
        $('#setparty #party-hero').append("<tr>"+mag+def+"</tr>")
        $('#setparty #party-hero').append("<tr>"+spd+mdef+"</tr>")
        $('#setparty .modal-title').append("<p style='margin:0px;'>[SLOT "+party+"] - Empty</p>")
        $('#setparty .modal-body').append("<span class='ability'></span>")
      }else{
        let atk = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285181745266718/iGuuD3Rajbc6oNowJaYZci3DENH6MYu8kayd3LaIWkMzEuz6akESTSRM0AAAAASUVORK5CYII.png'></th><th>"+Math.round(herodata[name].atk*(1+userhero[id].lv*0.05))+"</th>"
        let mag = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285236870742038/cXRynhVrd8EF6BNZGAt7cDNwhpkCYDGSygN0nNuG0CLgAVkDNIB769acsACsKqUbsEhDeRTAGvzvhbBzIFjANJybb8s9YGolvyPV.png'></th><th>"+Math.round(herodata[name].mag*(1+userhero[id].lv*0.05))+"</th>"
        let spd = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285386171318282/DNRwAAAABJRU5ErkJggg.png'></th><th>"+Math.round(herodata[name].spd*(1+userhero[id].lv*0.05))+"</th>"
        let hp = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557284772838375430/fX39f3q4p7GxEW4vnEEvy2EehDkC7AB6W47sCIIOaGhoYABhZIBLDD360PWhy4NCgaoOIMahyI4YOg7AljOI8S22qKJpCAy6NECo.png'></th><th>"+Math.round(herodata[name].hp*(1+userhero[id].lv*0.05))+"</th>"
        let def = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285285419941917/MZEEUTdCd7RAdT5zhgMgWzbdkkWOGGjRVrpVmW3P2MZrc7yn8AfNeSEaG4voUAAAAASUVORK5CYII.png'></th><th>"+Math.round(herodata[name].def*(1+userhero[id].lv*0.05))+"</th>"
        let mdef = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285351824162826/8AAAAAElFTkSuQmCC.png'></th><th>"+Math.round(herodata[name].mdef*(1+userhero[id].lv*0.05))+"</th>"
        $('#setparty #party-hero').empty()
        $('#setparty #party-gear').empty()
        $('#setparty .modal-title').empty()
        $('#setparty #change').remove()
        $('#setparty .ability').remove()
        $('#setparty #party-hero').append("<tr><td style='border-radius:20px;' rowspan ='4'><img src='"+herodata[name].img+"'></tr>")
        $('#setparty #party-hero').append("<tr>"+atk+hp+"</tr>")
        $('#setparty #party-hero').append("<tr>"+mag+def+"</tr>")
        $('#setparty #party-hero').append("<tr>"+spd+mdef+"</tr>")
        $('#setparty .modal-title').append("<p style='margin:0px;'>[SLOT "+party+"] - Lv."+userhero[id].lv+" "+herodata[name].heroname+"</p>")
        $('#setparty .modal-body').append("<span class='ability'>"+herodata[name].ability+"</span>")
      }
      partygear:
      for(let i=0;i<usergear.length;i++){
        if(usergear[i].party == party){
          for(let n=0;n<geardata.length;n++){
            if(geardata[n].gearname === usergear[i].gearname){
              let atk = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285181745266718/iGuuD3Rajbc6oNowJaYZci3DENH6MYu8kayd3LaIWkMzEuz6akESTSRM0AAAAASUVORK5CYII.png'></th><th>"+Math.round(geardata[n].atk*(1+usergear[i].lv*0.05))+"</th>"
              let mag = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285236870742038/cXRynhVrd8EF6BNZGAt7cDNwhpkCYDGSygN0nNuG0CLgAVkDNIB769acsACsKqUbsEhDeRTAGvzvhbBzIFjANJybb8s9YGolvyPV.png'></th><th>"+Math.round(geardata[n].mag*(1+usergear[i].lv*0.05))+"</th>"
              let spd = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285386171318282/DNRwAAAABJRU5ErkJggg.png'></th><th>"+Math.round(geardata[n].spd*(1+usergear[i].lv*0.05))+"</th>"
              let hp = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557284772838375430/fX39f3q4p7GxEW4vnEEvy2EehDkC7AB6W47sCIIOaGhoYABhZIBLDD360PWhy4NCgaoOIMahyI4YOg7AljOI8S22qKJpCAy6NECo.png'></th><th>"+Math.round(geardata[n].hp*(1+usergear[i].lv*0.05))+"</th>"
              let def = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285285419941917/MZEEUTdCd7RAdT5zhgMgWzbdkkWOGGjRVrpVmW3P2MZrc7yn8AfNeSEaG4voUAAAAASUVORK5CYII.png'></th><th>"+Math.round(geardata[n].def*(1+usergear[i].lv*0.05))+"</th>"
              let mdef = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285351824162826/8AAAAAElFTkSuQmCC.png'></th><th>"+Math.round(geardata[n].mdef*(1+usergear[i].lv*0.05))+"</th>"
              $('#setparty #party-gear').append("<tr><td style='border-radius:20px;' rowspan ='4'><img src='"+geardata[n].img+"'></tr>")
              $('#setparty #party-gear').append("<tr>"+atk+hp+"</tr>")
              $('#setparty #party-gear').append("<tr>"+mag+def+"</tr>")
              $('#setparty #party-gear').append("<tr>"+spd+mdef+"</tr>")
              $('#setparty .modal-footer').append("<span class='ability'>"+geardata[n].ability+"</span>")
              break partygear
            }
          }
        }else if (i+1 == usergear.length){
          let atk = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285181745266718/iGuuD3Rajbc6oNowJaYZci3DENH6MYu8kayd3LaIWkMzEuz6akESTSRM0AAAAASUVORK5CYII.png'></th><th>0</th>"
          let mag = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285236870742038/cXRynhVrd8EF6BNZGAt7cDNwhpkCYDGSygN0nNuG0CLgAVkDNIB769acsACsKqUbsEhDeRTAGvzvhbBzIFjANJybb8s9YGolvyPV.png'></th><th>0</th>"
          let spd = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285386171318282/DNRwAAAABJRU5ErkJggg.png'></th><th>0</th>"
          let hp = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557284772838375430/fX39f3q4p7GxEW4vnEEvy2EehDkC7AB6W47sCIIOaGhoYABhZIBLDD360PWhy4NCgaoOIMahyI4YOg7AljOI8S22qKJpCAy6NECo.png'></th><th>0</th>"
          let def = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285285419941917/MZEEUTdCd7RAdT5zhgMgWzbdkkWOGGjRVrpVmW3P2MZrc7yn8AfNeSEaG4voUAAAAASUVORK5CYII.png'></th><th>0</th>"
          let mdef = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285351824162826/8AAAAAElFTkSuQmCC.png'></th><th>0</th>"
          $('#setparty #party-gear').append("<tr><td style='border-radius:20px;' rowspan ='4'><img src='https://cdn.discordapp.com/attachments/402211254627991552/558026030346928138/ACHo7lH9AAAAAElFTkSuQmCC.png'></tr>")
          $('#setparty #party-gear').append("<tr>"+atk+hp+"</tr>")
          $('#setparty #party-gear').append("<tr>"+mag+def+"</tr>")
          $('#setparty #party-gear').append("<tr>"+spd+mdef+"</tr>")
          $('#setparty .modal-footer').append("<span class='ability'></span>")
        }
      }
      if (usergear.length == false){
          let atk = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285181745266718/iGuuD3Rajbc6oNowJaYZci3DENH6MYu8kayd3LaIWkMzEuz6akESTSRM0AAAAASUVORK5CYII.png'></th><th>0</th>"
          let mag = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285236870742038/cXRynhVrd8EF6BNZGAt7cDNwhpkCYDGSygN0nNuG0CLgAVkDNIB769acsACsKqUbsEhDeRTAGvzvhbBzIFjANJybb8s9YGolvyPV.png'></th><th>0</th>"
          let spd = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285386171318282/DNRwAAAABJRU5ErkJggg.png'></th><th>0</th>"
          let hp = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557284772838375430/fX39f3q4p7GxEW4vnEEvy2EehDkC7AB6W47sCIIOaGhoYABhZIBLDD360PWhy4NCgaoOIMahyI4YOg7AljOI8S22qKJpCAy6NECo.png'></th><th>0</th>"
          let def = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285285419941917/MZEEUTdCd7RAdT5zhgMgWzbdkkWOGGjRVrpVmW3P2MZrc7yn8AfNeSEaG4voUAAAAASUVORK5CYII.png'></th><th>0</th>"
          let mdef = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285351824162826/8AAAAAElFTkSuQmCC.png'></th><th>0</th>"
          $('#setparty #party-gear').append("<tr><td style='border-radius:20px;' rowspan ='4'><img src='https://cdn.discordapp.com/attachments/402211254627991552/558026030346928138/ACHo7lH9AAAAAElFTkSuQmCC.png'></tr>")
          $('#setparty #party-gear').append("<tr>"+atk+hp+"</tr>")
          $('#setparty #party-gear').append("<tr>"+mag+def+"</tr>")
          $('#setparty #party-gear').append("<tr>"+spd+mdef+"</tr>")
          $('#setparty .modal-footer').append("<span class='ability'></span>")
        }
      savenum = party
      $('#setparty').modal();
    }

    function setpreparty(name,id,type){
      $('#setparty #change').remove()
      if (type === 1){
        let atk = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285181745266718/iGuuD3Rajbc6oNowJaYZci3DENH6MYu8kayd3LaIWkMzEuz6akESTSRM0AAAAASUVORK5CYII.png'></th><th>"+Math.round(herodata[name].atk*(1+userhero[id].lv*0.05))+"</th>"
        let mag = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285236870742038/cXRynhVrd8EF6BNZGAt7cDNwhpkCYDGSygN0nNuG0CLgAVkDNIB769acsACsKqUbsEhDeRTAGvzvhbBzIFjANJybb8s9YGolvyPV.png'></th><th>"+Math.round(herodata[name].mag*(1+userhero[id].lv*0.05))+"</th>"
        let spd = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285386171318282/DNRwAAAABJRU5ErkJggg.png'></th><th>"+Math.round(herodata[name].spd*(1+userhero[id].lv*0.05))+"</th>"
        let hp = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557284772838375430/fX39f3q4p7GxEW4vnEEvy2EehDkC7AB6W47sCIIOaGhoYABhZIBLDD360PWhy4NCgaoOIMahyI4YOg7AljOI8S22qKJpCAy6NECo.png'></th><th>"+Math.round(herodata[name].hp*(1+userhero[id].lv*0.05))+"</th>"
        let def = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285285419941917/MZEEUTdCd7RAdT5zhgMgWzbdkkWOGGjRVrpVmW3P2MZrc7yn8AfNeSEaG4voUAAAAASUVORK5CYII.png'></th><th>"+Math.round(herodata[name].def*(1+userhero[id].lv*0.05))+"</th>"
        let mdef = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285351824162826/8AAAAAElFTkSuQmCC.png'></th><th>"+Math.round(herodata[name].mdef*(1+userhero[id].lv*0.05))+"</th>"
        var order = userhero[id].party
        $('#setparty #party-hero').empty()
        $('#setparty .modal-title').empty()
        $('#setparty .ability').remove()
        $('#setparty #party-hero').append("<tr><td style='border-radius:20px;' rowspan ='4'><img src='"+herodata[name].img+"'></tr>")
        $('#setparty #party-hero').append("<tr>"+atk+hp+"</tr>")
        $('#setparty #party-hero').append("<tr>"+mag+def+"</tr>")
        $('#setparty #party-hero').append("<tr>"+spd+mdef+"</tr>")
        $('#setparty .modal-title').append("<p style='margin:0px;'>Lv."+userhero[id].lv+" "+herodata[name].heroname+"</p>")
        $('#setparty .modal-body').append("<span class='ability'>"+herodata[name].ability+"</span>")
      }else{
        let atk = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285181745266718/iGuuD3Rajbc6oNowJaYZci3DENH6MYu8kayd3LaIWkMzEuz6akESTSRM0AAAAASUVORK5CYII.png'></th><th>"+Math.round(geardata[name].atk*(1+usergear[id].lv*0.05))+"</th>"
        let mag = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285236870742038/cXRynhVrd8EF6BNZGAt7cDNwhpkCYDGSygN0nNuG0CLgAVkDNIB769acsACsKqUbsEhDeRTAGvzvhbBzIFjANJybb8s9YGolvyPV.png'></th><th>"+Math.round(geardata[name].mag*(1+usergear[id].lv*0.05))+"</th>"
        let spd = "<th style='padding-left:10px;'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285386171318282/DNRwAAAABJRU5ErkJggg.png'></th><th>"+Math.round(geardata[name].spd*(1+usergear[id].lv*0.05))+"</th>"
        let hp = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557284772838375430/fX39f3q4p7GxEW4vnEEvy2EehDkC7AB6W47sCIIOaGhoYABhZIBLDD360PWhy4NCgaoOIMahyI4YOg7AljOI8S22qKJpCAy6NECo.png'></th><th>"+Math.round(geardata[name].hp*(1+usergear[id].lv*0.05))+"</th>"
        let def = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285285419941917/MZEEUTdCd7RAdT5zhgMgWzbdkkWOGGjRVrpVmW3P2MZrc7yn8AfNeSEaG4voUAAAAASUVORK5CYII.png'></th><th>"+Math.round(geardata[name].def*(1+usergear[id].lv*0.05))+"</th>"
        let mdef = "<th><img src='https://cdn.discordapp.com/attachments/402211254627991552/557285351824162826/8AAAAAElFTkSuQmCC.png'></th><th>"+Math.round(geardata[name].mdef*(1+usergear[id].lv*0.05))+"</th>"
        var order = usergear[id].party
        $('#setparty #party-gear').empty()
        $('#setparty .modal-title').empty()
        $('#setparty .ability').remove()
        $('#setparty #party-gear').append("<tr><td style='border-radius:20px;' rowspan ='4'><img src='"+geardata[name].img+"'></tr>")
        $('#setparty #party-gear').append("<tr>"+atk+hp+"</tr>")
        $('#setparty #party-gear').append("<tr>"+mag+def+"</tr>")
        $('#setparty #party-gear').append("<tr>"+spd+mdef+"</tr>")
        $('#setparty .modal-title').append("<p style='margin:0px;'>Lv."+usergear[id].lv+" "+geardata[name].gearname+"</p>")
        $('#setparty .modal-footer').append("<span class='ability'>"+geardata[name].ability+"</span>")
      }
      $('#setparty .modal-content').append("<div class='modal-footer' id='change'></div>")
      $('#setparty #change').append("<button type='button' class='btn btn-default' data-dismiss='modal'>キャンセル</button>")
      $('#setparty #change').append("<button type='button' class='btn btn-primary' onclick='setparty("+id+","+savenum+","+type+")'>保存</button>")
      $('#setpartyslot').modal('hide');
    }

    function separate(num){
      return String(num).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');
    }

    $(function(){
      $('#party').css("display", "block")
      for (let i=0;i<userhero.length;i++){
        for (let n = 0;n< herodata.length;n++){
          if(herodata[n].heroname === userhero[i].heroname){
            $('#heroes').append("<div class='partyslot' style='float:left; display:inline-block; position:relative;' onclick='herodetail("+n+","+i+");'><img src='"+herodata[n].img+"'class='partylist'><span class='heroname'>Lv."+userhero[i].lv+"<br>"+userhero[i].heroname+"</span></div>")
            break;
          }
        }
      }
      for (let i=0;i<usergear.length;i++){
        for (let n = 0;n< geardata.length;n++){
          if(geardata[n].gearname === usergear[i].gearname){
            $('#gears').append("<div class='partyslot' style='float:left; display:inline-block; position:relative;' onclick='geardetail("+n+","+i+");'><img src='"+geardata[n].img+"'class='partygearlist'><span class='heroname'>Lv."+usergear[i].lv+"<br>"+usergear[i].gearname+"</span></div>")}
      }
      }
      //パーティスロットの設定
      let party =[,,]
      for(let num=1;num<=3;num++){
        next:
        for(let i=0;i<userhero.length;i++){
          if(userhero[i].party == num){
            for(let n=0;n<herodata.length;n++){
              if(herodata[n].heroname === userhero[i].heroname){
                party[num] = herodata[n]
                $('#party').append("<div class='partyslot' style='float:left; display:inline-block; position:relative;' onclick='partydetail("+n+","+i+","+num+");'><img src='"+party[num].img+"'class='partylist'><span class='partyname'>Lv."+userhero[i].lv+"<br>"+userhero[i].heroname+"</span></div>")
                break next
              }
            }
          }else if(i+1 == userhero.length){
            $('#party').append("<div class='partyslot' style='float:left; display:inline-block; position:relative;' onclick='partydetail("+(-1)+","+(-1)+","+num+");'><img src='https://cdn.discordapp.com/attachments/402211254627991552/558026030346928138/ACHo7lH9AAAAAElFTkSuQmCC.png'class='partylist'><span class='partyname'>Lv.0<br>Empty</span></div>")
          }
        }
      }
      $('#setparty .modal-body').on('click',function(){
        $('#setpartyslot table').empty()
        for (let i=0;i<userhero.length;i++){
          for (let n = 0;n< herodata.length;n++){
            if(herodata[n].heroname === userhero[i].heroname){
              $('#setpartyslot table').append("<div class='partyslot' style='display:inline-block; position:relative;' onclick='setpreparty("+n+","+i+","+1+")'><img src='"+herodata[n].img+"'class='partylist'><span class='heroname'>Lv."+userhero[i].lv+"<br>"+userhero[i].heroname+"</span></div>")
              break;
            }
          }
        } 
        $('#setpartyslot').modal()
      })
      $('#setparty .modal-footer').on('click',function(){
        $('#setpartyslot table').empty()
        for (let i=0;i<usergear.length;i++){
          for (let n = 0;n< geardata.length;n++){
            if(geardata[n].gearname === usergear[i].gearname){
              $('#setpartyslot table').append("<div class='partyslot' style='display:inline-block; position:relative;' onclick='setpreparty("+n+","+i+","+2+")'><img src='"+geardata[n].img+"'class='partygearlist'><span class='heroname'>Lv."+usergear[i].lv+"<br>"+usergear[i].gearname+"</span></div>")
              break;
            }
          }
        } 
        $('#setpartyslot').modal()
      })
      //Navbarの設定
      let st = Math.floor(stamina[0].stamina + stamina[0].lasttime/1800)
      if ( st > 5){st = 5}
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557242934056189963/l0Q2wA6d5uMPCXCCkCfAysZCucVWRdSUuQgD28YYBDxvEYBFyim1xAAAAAElFTkSuQmCC.png'> "+ Math.floor(stamina[0].food + stamina[0].lasttime/60) +"</span>")
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557242879593021474/8Twn5GPgRGbUqyC6AopMgCkGWQgWS4gpBlsML4goMgAmGZ8zsfpAmTNVDEA2ZvogYkRBui249NMdCDCDMEWlUTFwhBPB7iSMDxcc.png'> "+ st +"/5</span>")
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557255728528752671/BFGGliYAAAAAElFTkSuQmCC.png'> "+ separate(coin[0].alice) +" Alice</span>")
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557255579672903702/oX8Rf2EQlnY9UAAAAASUVORK5CYII.png'> "+ separate(coin[0].bru) +" Bru</span>")
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557255785923608576/fZAAAAAElFTkSuQmCC.png'> "+ separate(coin[0].cany) +" Cany</span>")
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557255682706112513/8D1FtjlFrFaReKVehp2Ms5XlpRf8BsA0EINx9364AAAAASUVORK5CYII.png'> "+ separate(coin[0].dar) +" Dar</span>")
    })

    </script>

    </div>


  </body>
  </html>